<div style="padding-top: 30px;">
	<div *ngIf="data" class="chama-detectada rounded">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="images/ic_flame_little_yes.png" style="position: absolute; padding-top: 15px;"/>
			</div>
			<div class="col-md-8">
				<span style="font-size: 18pt;">{{"firedetector.flame" | translate}}</span> <br/>
				<span style="font-size: 18pt;">{{"firedetector.detected" | translate}}</span> <br/>
				<span style="font-size: 18pt;">{{"sensor.real" | translate}}</span>
			</div>
		</div>
	</div>
	<div *ngIf="!data" class="chama-nao-detectada rounded">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="images/ic_flame_little_no.png" style="position: absolute; padding-top: 15px;"/>
			</div>
			<div class="col-md-8">
				<span style="font-size: 18pt;">{{"firedetector.flame" | translate}}</span> <br/>
				<span style="font-size: 18pt;">{{"firedetector.no.detected" | translate}}</span> <br/>
				<span style="font-size: 18pt;">{{"sensor.real" | translate}}</span>
			</div>
		</div>
	</div>
</div>